
.esi-progress {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  $labelWidth: 150px;

  &.center {
    justify-content: center;
    .esi-progress-label {
      flex-grow: 1;
      width: $labelWidth;
    }
    .esi-progress-aligner {
      display: inline-block;
      flex-grow: 1;
      width: $labelWidth;
    }
  }

  .esi-progress-label {
    display: inline-block;
    position: relative;
    text-align: right;
    padding-right: 15px;
  }
  .esi-progress-bar {
    display: inline-flex;
    width: 400px;
    position: relative;
    flex-grow: 0;
  }
  .esi-progress-aligner {
    display: none;
  }
}